<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javafirst.dao.GoodsDao">

    <!--    通过对象增加记录-->
    <insert id="insertGoods">
        insert into goods (name,account,price) values (#{name},#{account},#{price})
    </insert>

    <select id="selectGoodsAll" resultType="goods">
        <include refid="select_front"></include>
    </select>

    <update id="updateAccount">
        update goods set account = account - #{account} where id = #{id}
    </update>

    <select id="selectById" resultType="goods">
        select * from goods where id = #{id}
    </select>

    <!--  SQL片段  -->
    <sql id="select_front">
        select * from goods
    </sql>
</mapper>